<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/52ca71400f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>PantryPal - Home</title>

</head>

<body>
    <h1>PantryPal</h1>
    <i class="fa-solid fa-bowl-food fa-2xl"></i>
    <br>
    <nav class = "navigation">
        <a href="./index.html"><button type = "button">Ingredients --> Recipe</button></a>
        <a href="./index.html"><button type = "button">Recipe --> Ingredients</button></a>
    </nav>
</body>
