<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--<link rel="stylesheet" href="../static/style.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

    <title>PantryPal - Home</title>
</head>

<body>
    <div class="logo-container">
        <h class="logo-name">PantryPal</h> 
        <!-- Replace logo -->
        <p class ="logo-img"> 🍲</p> 
    </div>

    <p class="text"> Enter your API key and select one of the options below to get started!</p>
    <div class="search-container">
        <textarea name="inputText" class="search-bar" placeholder="API Key" rows=1></textarea>
    </div>
    <nav class = "navigation-container">
        
        <a href="/toRecipe" id="left"><button type = "button">Ingredients → Recipe</button></a>
        <!-- Replace this link when we finish the other page -->
        <a href="./ingredients"><button type = "button">Recipe → Ingredients</button></a>
    </nav>
</body>