<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!--<link rel="stylesheet" href="../static/style.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

  <title>PantryPal</title>
</head>

<body>
  <div class="container ">
    <div class="logo-container">
      <a href="/" class="no-style"><h class="logo-name">PantryPal</h> </a>
      <!-- we'll replace the logo with an actual image later-->
      <p class ="logo-img"> 🍲</p> 
    </div>

    <form method="POST" action="/toRecipe">
      <div class="search-container">
        <textarea name="inputContent" class="search-bar" placeholder="e.g. eggs, flour, rice..." rows=1></textarea>
        <div class="dropdown" id="dropdownContent">
          <button class="staples-btn">Staples</button>
          <div class="dropdown-content">
            <input name="butter" type="checkbox" id="option1" checked>
              <label for="option1"> Butter </label><br>
            <input name="oil" type="checkbox" id="option2" checked>
              <label for="option2" > Oil </label><br>
            <input name="water" type="checkbox" id="option3" checked>
              <label for="option3" > Water </label><br>
            <input name="salt" type="checkbox" id="option4" checked>
              <label for="option4"> Salt </label><br>
            <input name="pepper" type="checkbox" id="option5" checked>
              <label for="option5"> Pepper </label><br>
          </div>
        </div>
        <button class="search-btn"></button>
      </div>
    </form>

    {{recipe_name}}
  </div>
</body>
