<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='to-recipe.css') }}">
  <!-- <link rel="stylesheet" href="../static/to-recipe.css"> -->
  <!--<link rel="stylesheet" href="../static/style.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  <title>PantryPal</title>
</head>

<body>
  <div class="container ">
    <div class="logo-container">
      <a href="/" class="no-style"><h class="logo-name">PantryPal</h> </a>
      <img class="logo-img" src="/static/logo.png">
    </div>

    <form method="POST" action="/toRecipe">
      <div class="search-container">
        <div class="dropdown">
          <button class="staples-btn" disabled>Staples</button>
            <div class="dropdown-options">
              <input type="checkbox" name="listStaples" value="butter" checked>Butter<br>
              <input type="checkbox" name="listStaples" value="oil" checked>Oil<br>
              <input type="checkbox" name="listStaples" value="water" checked>Water<br>
              <input type="checkbox" name="listStaples" value="salt" checked>Salt<br>
              <input type="checkbox" name="listStaples" value="pepper" checked>Pepper<br>
            </div>      
        </div>
        <textarea name="inputStaples" class="search-bar" placeholder="e.g. eggs, flour, rice..." rows=1></textarea>
        <button class="search-btn" onclick="waiting()"></button>
      </div>
    </form>

    

  <script src="/static/toRecipe.js"></script>
</body>